Q1. what are dat structures, and why are they important?
ans. data structures are organized way to store and manage data so it can be accessed and manipulated easily.


Q2. Explain the difference between mutable and immutable data types with examples?
ans. mutable data are those data types which can be changed after creating them. ex-list,dict.
immutable data types cannot be changed after creating them. ex-tuples,strings


 Q3. What are the main differences between lists and tuples in Python?
 ans. the main differnce between list and python is list is mutable whereas tuple tuple is immutable .

  Q4 Describe how dictionaries store data?
  ans. dict store data in the form of key value pair.

  Q5. Why might you use a set instead of a list in Python?
  ans. sets automatically remove duplicate values and allows faster searches compaired to list

  Q6.  What is a string in Python, and how is it different from a list?
  ans. a string is a sequence of characters and cannot be changed whereas a list can hold hetrogenous data and can be changed after creating them.

  Q7.How do tuples ensure data integrity in Python?
  ans. tuples are immutable,so there value cannot be chnaged ,which helps keep data safe and consistent.

  Q8. What is a hash table, and how does it relate to dictionaries in Python?
  ans. a hash table stores data using a unique key converted into a number by a hashing function. dictionaries in python use hash tables to quickly find values using keys.

  Q9. Can lists contain different data types in Python?
  ans.yes


Q10 Explain why strings are immutable in Python?
ans. strings are immutable so they cannot be accidently chnaged,which improves relaibility and performance.


Q11 What advantages do dictionaries offer over lists for certain tasks?
ans.dictionaries allow faster lookups using keys,and clearer relationships between data items.

Q12.Describe a scenario where using a tuple would be preferable over a list?
ans.saving adhaar card number.

Q13.How do sets handle duplicate values in Python?
ans.sets automatically remove duplicate values and keep only unique elements.

Q14. How does the “in” keyword work differently for lists and dictionaries?
ans.in lists,it checks if an item exist
but in dict,it checks if key exist.

Q15.Can you modify the elements of a tuple? Explain why or why not?
ans.no,tuple is immutable that means once they are created they cannot be modified

Q16.What is a nested dictionary, and give an example of its use case?
ans.a nested dictionary is a dictionary inside another dictionary.
it is used to store structured data like student records or product details.

Q17.Describe the time complexity of accessing elements in a dictionary?
ans.accessing elements in dictionary is very fast,with an average time complexity of 0(1)


Q18.In what situations are lists preferred over dictionaries?
ans.lists are preffered when data needs to be stored in order or when there are no key value relationships.

Q19.Why are dictionaries considered unordered, and how does that affect data retrieval?
ans.dictionaries do not rely on the order of data,instead they use keys for retrieval.this means you can access items by names, not position.

Q20 Explain the difference between a list and a dictionary in terms of data retrieval.
ans.a list retrievs data using positions(indexes),while dictionary retrieves data using keys.

PRACTICAL QUISTIONS

Q1.Write a code to create a string with your name and print it.

In [ ]:
name = "abdul hadi ansari"
print(name)

abdul hadi ansari

Q2.Write a code to find the length of the string "Hello World".

In [ ]:
"helloworld"
print(len("helloworld"))

10

Q3 Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
string = "python programming"
string[3:]

'hon programming'

Q4 Write a code to convert the string "hello" to uppercase.

In [ ]:
string = "hello"
string.upper()

'HELLO'


Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
string = "i like apple"
string.replace("apple","orange")

'i like orange'

Q6 Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

Q7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
list = [1,2,3,4]
list.append("10")
print(list)

[1, 2, 3, 4, '10']

Q8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

Q9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
list = ['a', 'b', 'c', 'd']
list[-3]

'b'

Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [2]:
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [3]:
tuple = ('red','green','blue','yellow')
tuple[1:4]

('green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [4]:
tuple = (10,20,5,15)
min(tuple)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [9]:
tuple = ('dog','cat','rabbit')
tuple.index('cat')

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [10]:
tuple = ('apple','banana','kiwi')
print('kiwi' in tuple)

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [11]:
s = {'a','b','c'}
type(s)

set

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [14]:
s = {1,2,3,4,5}
s.clear()
print(s)

set()

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [16]:
s1 = {1,2,3}
s2 ={3,4,5}
print(s1|s2)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [17]:
s1 = {1,2,3}
s2 ={2,3,4}
print(s1&s2)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [23]:
d = {"name": "", "age": None, "city": ""}
print(d)

{'name': '', 'age': None, 'city': ''}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [24]:
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [26]:
d = {'name':'alice' ,'age':'30'}
d['name']

'alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [28]:
d = {'name': 'bob', 'age': 22 , 'city': 'new york'}
del d['age']
print(d)

{'name': 'bob', 'city': 'new york'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [29]:
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [30]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {"a": 1, "b": 2, "c": 3}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'a': 1, 'b': 2, 'c': 3}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced).

28. Write a code to create a list with strings and print the element at the third index

In [31]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[2])

cherry

29. Write a code to combine two dictionaries into one and print the result.

In [35]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

# Combine the two dictionaries
dict1.update(dict2)

# Print the combined dictionary
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [36]:
my_list = ["apple", "banana", "cherry", "apple", "date"]
my_set = set(my_list)
print(my_set)

{'cherry', 'date', 'banana', 'apple'}